<nav className="navBar">
    <ul>
        <li><a href="/"><h1>Home</h1></a></li>
        <li><a href="/about"><h1>About</h1></a></li>
        <li><a href="/create"><h1>Create</h1></a></li>
    </ul>
</nav>
<style>
    nav{
        margin: -10px;
        background-color: green;
        padding-right: 20px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
</style>
