<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <div id="accountBox">
            <div id="account">
                <div> 
                    <h3>Account Summary</h3> 
                </div>
                <div id="accountSummaryBox">
                    <div>
                        <ul>
                            <li>Account name: <a id="userData"> <%= user.username %></a></li>
                            <br>
                            <li>Account email: <a id="userData"> <%= user.email %></a></li> 
                            <br>
                            <li>Posts created: <%= user.posts.length%> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        #accountBox{
            display: flex; 
            justify-content: center;
            padding-top: 100px;
        }
        #account{
            height: 500px;
            width: 1000px;
            display: flex; 
            flex-direction: column;
            align-items: center; 
            background: f2f2f2;
            border-radius: 10px;
            box-shadow: 5px 20px 50px #000;
            font-family: "Papyrus", Fantasy;
        }
        #accountSummaryBox {
            display: flex;
            flex-direction: row;
            padding-top: 20px;
        }
        #userData {
            font-weight: bold;
            font-size: larger;
        }
    </style>
</html>