<div id="navContainer">
    <div id="leftHeaderContainer">
        <nav id="nav">
            <ul id="navOptions">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/posts/forumpage">Posts</a></li>
                <li><a href="/account">Account</a></li>
            </ul>   
        </nav>
    </div>
    <div id="middleHeaderContainer">
        <span id="headerTitle">Discussion Forum</span>
    </div>
    <div id="leftHeaderContainer">
        <button id="logoutButton">Sign Out</button>
    </div>   
</div>
<style>
    #navContainer {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 0 1em 0;
    }
    #leftHeaderContainer{
        display: flex;
        justify-content: flex-start;
    }
    #nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0; 
    }
    #nav li {
        float: left; 
    }
    #nav li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: #069;
        border-right: 1px solid #ccc; 
    }
    #nav li:first-child a {
        border-left: 1px solid #ccc; 
    }
    #nav li a:hover {
        color: #c00;
        background-color: #fff; 
    }
    #middleHeaderContainer {
        display: flex;
        justify-content: center;
        padding-right: 10%;
    }
    #headerTitle {
        color: #333333;
        font-family: 'Bitter', serif; 
        font-size: x-large;
        font-weight: normal; 
    }
    #leftHeaderContainer {
        display: flex;
        justify-content: flex-end;
    }
    #logoutButton:hover {
        cursor: pointer;
    }
</style>

